<!DOCTYPE html>
<html>
<head>
    <% include ../templates/basic-meta-tags %>

    <title>Welcome to seeds :)</title>

    <% include ../templates/head-bootstrap %>
    <% include ../templates/all-header-assets %>

</head>
<body>

<% include ../templates/navbar %>

<div class="container">
    <h1>My profile</h1>

    <div id="my-info">
        <p>Name: <span><%= user %></span></p>
        <p>location: <span><%= location %></span> </p>
    </div>

    <button class="btn btn-warning">Edit</button>
</div>

</body>
</html>